body {
    font-family: 'Arial';
    font-size: 14px;
}
main {
    margin-top: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.newStep-progress {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px 0px 50px 0px;
    position: relative;
}
.newStep-progress .newStep-progress__circle {
    width: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.newStep-progress .newStep-progress__circle::after {
    content: '';
    width: 54px;
    height: 3px;
    background: #e1e1e1;
    position: absolute;
    top: 20%;
    left: 99%;
}
.newStep-progress .newStep-progress__circle.newStep-progress__active_circle::after {
    background: #80c573;
}
.newStep-progress .newStep-progress__circle:last-child::after {
    content: none;
}
.newStep-progress .newStep-progress__circle span {
    cursor: pointer;
    filter: grayscale(100%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    border-radius: 50px;
    border: 4px solid white;
    box-shadow: 0px 0px 15px #ccc;
    font-weight: bold;
    position: relative;
}
.newStep-progress .newStep-progress__circle.newStep-progress__active_circle span {
    filter: grayscale(0%);
    background: #80c573;
    box-shadow : 0px 0px 15px #80c573;
    color: white;
}
.newStep-progress .newStep-progress__circle span::before {
    content: '';
    position: absolute;
    top: 44%;
    left: 180%;
    width: 0;
    height: 1px;
    border-left: 10px solid #e1e1e1;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.newStep-progress .newStep-progress__circle span svg {
  width: 40px;
}
.newStep-progress .newStep-progress__circle.newStep-progress__active_circle span::before {
    border-left-color: #80c573;
}
.newStep-progress .newStep-progress__circle:last-child span::before {
    content: none;
}
.newStep-progress .newStep-progress__circle p {
    max-width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 13px;
    font-size: 12px;
    font-weight: 500;
    color: #262626;
    text-transform: capitalize;
}
